---
import SectionPage from "@layouts/SectionPage.astro";
import RichContent from "@components/RichContent.astro";
import Gallery from "@components/Gallery.astro";
import FeatureList from "@components/FeatureList.astro";
import IntroSectionList from "@components/IntroSectionList.astro";
import HighlightsGrid from "@components/HighlightsGrid.astro";
import DateList from "@components/DateList.astro";
import CTA from "@components/CTA.astro";
import FAQSection from "@components/FAQSection.astro";
import Form from "@components/Form.astro";
import { pages } from "@lib/pages";

export async function getStaticPaths() {
  const allPages = pages;
  return allPages.map((page) => {
    return {
      params: {
        path: page.sectionSlug ? page.slug.full : page.slug.current,
      },
      props: { page },
    };
  });
}
const { path } = Astro.params;
const { page } = Astro.props;
---

<SectionPage pageName={page.pageName} headerText={page.headerText} seo={page.seo}>
  <div class="flow | gap-32 my-24">
    {
      page.pageContent ? (
        page.pageContent.map((section) => {
          return (
            <>
              {section.type == "introSections" && (
                <article class="content-wrapper">
                  <IntroSectionList content={section} />
                </article>
              )}
              {section.type == "contentFeatures" && (
                <article class="content-wrapper">
                  <FeatureList content={section} />
                </article>
              )}
              {section.type == "highlightGrid" && (
                <article class="content-wrapper">
                  <HighlightsGrid content={section} />
                </article>
              )}
              {section.type == "gallery" && (
                <article class="content-wrapper">
                  <Gallery content={section} />
                </article>
              )}
              {section.type == "dateList" && (
                <article class="content-wrapper">
                  <DateList content={section} />
                </article>
              )}
              {section.type == "faq" && (
                <article class="content-wrapper | w-full">
                  <FAQSection content={section} />
                </article>
              )}
              {section.type == "richContent" && (
                <article class="content-wrapper | w-full">
                  <RichContent content={section.portableText} />
                </article>
              )}
              {section.type == "cta" && <CTA content={section} />}
            </>
          );
        })
      ) : (
        <></>
      )
    }
    {page._id === '187a63f3-9875-438a-a736-20f46f74a4f0' &&
      <div class="content-wrapper w-full">
        <Form formData={{
          id: 'mainContactForm',
          formName: 'mainContactForm',
          title: 'Contact Us',
          description: 'Reach out with your questions and inquiries.',
          formType: 'general',
          messageText: 'Let us know if you have any questions or comments.'
        }} />
      </div>
  }
  </div>
</SectionPage>
