---
import SectionPage from "@layouts/SectionPage.astro";
import RichContent from "@components/RichContent.astro";
import Gallery from "@components/Gallery.astro";
import FeatureList from "@components/FeatureList.astro";
import IntroSectionList from "@components/IntroSectionList.astro";
import HighlightsGrid from "@components/HighlightsGrid.astro";
import DateList from "@components/DateList.astro";
import CTA from "@components/CTA.astro";
import FAQSection from "@components/FAQSection.astro";
import Form from "@components/Form.astro";
import Testimonial from "@components/Testimonial.astro";
import PostPreview from "@components/PostPreview.astro";
import { testimonials } from "@lib/testimonials";
import { posts } from "@lib/posts";
import { pages } from "@lib/pages";

export async function getStaticPaths() {
  const allPages = pages;
  return allPages.map((page) => {
    return {
      params: {
        path: page.sectionSlug ? page.slug.full : page.slug.current,
      },
      props: { page },
    };
  });
}
const { path } = Astro.params;
const { page } = Astro.props;
---

<SectionPage pageId={page._id} pageName={page.pageName} headerText={page.headerText} seo={page.seo}>
  <div class="flow | my-16 gap-20 md:gap-32 md:my-24 md:pt-6">
    {
      page.pageContent ? (
        page.pageContent.map((section) => {
          return (
            <>
              {section.type == "introSections" && (
                <article class="content-wrapper">
                  <IntroSectionList content={section} />
                </article>
              )}
              {section.type == "contentFeatures" && (
                <article class="content-wrapper">
                  <FeatureList content={section} />
                </article>
              )}
              {section.type == "highlightGrid" && (
                <article class="content-wrapper">
                  <HighlightsGrid content={section} randomBgs />
                </article>
              )}
              {section.type == "gallery" && (
                <article class="content-wrapper">
                  <Gallery content={section} />
                </article>
              )}
              {section.type == "dateList" && (
                <article class="content-wrapper">
                  <DateList content={section} />
                </article>
              )}
              {section.type == "faq" && (
                <article class="content-wrapper | w-full">
                  <FAQSection content={section} />
                </article>
              )}
              {section.type == "richContent" && (
                <article class="content-wrapper | w-full">
                  <RichContent content={section.portableText} />
                </article>
              )}
              {section.type == "cta" && <CTA content={section} />}
            </>
          );
        })
      ) : (
        <></>
      )
    }
    {page._id === '187a63f3-9875-438a-a736-20f46f74a4f0' &&
      <div class="content-wrapper w-full">
        <Form formData={{
          id: 'mainContactForm',
          formName: 'mainContactForm',
          title: 'Contact Us',
          description: 'Reach out with your questions and inquiries.',
          formType: 'general',
          messageText: 'Let us know if you have any questions or comments.'
        }} />
      </div>
    }
    {page._id === 'eea13d84-fc4b-4b50-8e39-45d0553cfdd6' &&
      <article class="content-wrapper">
        <div class="md:columns-2 gap-x-12 [&>*]:mt-16 [&>*:first-child]:mt-0">
          {testimonials.map((testimonial, index) => {
            return (
              <Testimonial content={testimonial} theme={index % 3 === 0 ? 'brand' : index % 3 === 1 ? 'accent-red' : 'accent-yellow'} portableText />
            )
          })}
        </div>
      </article>
    }
    {page._id === '1b98f686-d049-4e0d-be78-39b327d36c8e' &&
      <div class="content-wrapper w-full">
        <div class="grid gap-y-12 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-8">
          {posts.map((post) => {
            return (
              <PostPreview content={post} href={`/community/updates/${post.slug}`} />
            )
          })}
        </div>
      </div>
    }
  </div>
</SectionPage>
