---
import Button from "./Button.astro";
import constructHref from "../utils/constructHref";
import shuffleArray from "../utils/shuffleArray"
import ImageOpt from "./ImageOpt.astro";
import { Image } from "astro:assets";

import confetti from "../assets/images/confetti.webp"
import star from "../assets/images/star.webp"
import paintSmear from "../assets/images/paint-smear.webp"
import abstractRing from "../assets/images/abstract-ring.webp"
import notepadSheet from "../assets/images/notepad-sheet.webp"
import tape from "../assets/images/tape.webp"
// const confetti = "./src/assets/images/confetti.webp"
// const star = "./src/assets/images/star.webp"
// const paintSmear = "./src/assets/images/paint-smear.webp"
// const abstractRing = "./src/assets/images/abstract-ring.webp"
// const notepadSheet = "./src/assets/images/notepad-sheet.webp"
// const tape = "./src/assets/images/tape.webp"

const bgDecorativeImages = [
  confetti,
  star,
  paintSmear,
  notepadSheet,
  abstractRing,
  tape
]

const { content, randomBgs } = Astro.props;
let showHeadingSection = false;
if (content.heading) {
  showHeadingSection = true;
} else if (content.text) {
  showHeadingSection = true;
}

const shuffledBgs = randomBgs ? shuffleArray(bgDecorativeImages) : undefined;
---

<div>
  {
    showHeadingSection && (
      <div class="center-items mb-20">
        {content.heading && <h2 class="text-4xl mb-6">{content.heading}</h2>}
        {content.text && (
          <p class="text-2xl leading-[1.4] max-w-3xl">{content.text}</p>
        )}
      </div>
    )
  }
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-16">
    {content.entries.map((item, index) => {
      const bgImage = randomBgs ? shuffledBgs[index % 6] : bgDecorativeImages[index % 6]
      return (
        <div class="relative flow gap-6">
          <Image class="absolute w-20 -z-[1] -top-5 -left-6 opacity-25" src={bgImage} alt="" width={600} height={600} format="webp" />
          <h3 class="text-2xl">{item.heading}</h3>
          <p>{item.text}</p>
          {item.linkItem && (
            <div class="relative -left-2">
              <Button type="none" href={constructHref(item.linkItem.link)}>
                <span>
                  {item.linkItem.linkName || item.linkItem.link.pageName}
                </span>
                <i class="fa-solid fa-arrow-right fa-xs text-brand" />
              </Button>
            </div>
          )}
        </div>
      )})}
  </div>
</div>
