---
import { SEO } from "astro-seo";
// import { Image } from "@astrojs/image/components";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import { urlFor } from "@lib/sanity";
import "../styles/global.css";
import { mainNavigation } from "@lib/navigation";
import { siteSettings } from "@lib/siteSettings";

const { siteName, siteDescription, defaultOgImage } = siteSettings;

const { meta } = Astro.props;
const { title, description, ogTitle, ogImage, ogImageExternal, ogDescription } = meta;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title ? `${title} | ${siteName}` : siteName}
      description={description || siteDescription}
      openGraph={{
        basic: {
          title: ogTitle,
          type: 'website',
          image: ogImageExternal ? ogImageExternal : ogImage ? urlFor(ogImage).width(1200).height(630).auto('format').url() : urlFor(defaultOgImage).width(1200).height(630).fit('crop').crop('center').auto('format').url()
        },
        optional: {
          description: ogDescription || siteDescription
        }
      }}
    />
    <link rel="icon" type="image/png" href="/smcc-school-favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href="/fonts/Mali-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Nunito-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Nunito-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Nunito-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <script defer src="/fontawesome/solid.min.js"></script>
    <script defer src="/fontawesome/brands.min.js"></script>
    <script defer src="/fontawesome/fontawesome.min.js"></script>
    <!-- Fathom - beautiful, simple website analytics -->
      <script src="https://cdn.usefathom.com/script.js" data-site="CFDEDZWJ" defer></script>
    <!-- / Fathom -->
    <slot name="pageHead" />
    <style>
      @font-face {
        font-family: "Nunito";
        src: url("/fonts/Nunito-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Nunito";
        src: url("/fonts/Nunito-Italic.woff2") format("woff2");
        font-weight: 400;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Nunito";
        src: url("/fonts/Nunito-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Mali";
        src: url("/fonts/Mali-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body class="font-sans text-gray-500 text-lg leading-normal">
    <SiteHeader mainNavigation={mainNavigation} />
    <slot name="main" />
    <SiteFooter mainNavigation={mainNavigation} />
    <style is:global>
      :where(h1, h2, h3, h4, h5, h6) {
        color: theme("colors.gray.800");
        font-family: theme("fontFamily.heading");
        letter-spacing: -1px;
        font-weight: 700;
      }
    </style>
  </body>
</html>
